html,
body,
* {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #add8e6;
  font-family: "Akronim", cursive;
}

.main-header {
  text-align: center;
  margin: 0 auto;
  border: 1rem solid #ff0;
  border-radius: 2rem;
  width: 20vw;
  font-size: 5rem;
}

.flexbox {
  font-size: 6rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.digimon {
  border: 1rem solid #ff0000;
  box-shadow: 12px 12px 2px 1px #ff0;
  width: 28%;
  height: 28%;
  margin-bottom: 3rem;
}
